.title {
    font-size: 36px;
    color: black;
    text-align: center;
    display: flexbox;
    font-family: 'Arial', sans-serif;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px;
    background-color: lightslategray;
    opacity: 0.9;
}

body {
    background-image: url('https://api.deepai.org/job-view-file/1658823f-57e9-495f-9f22-30aef857cfec/outputs/output.jpg?art-image=true');
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  
  .container {
    opacity: 0.9;
    width: 600px;
    max-width: 100%;
    background-color: lightslategray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    gap:    5px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: rgb(4, 51, 82);
    border: 1px black solid;
    font-weight: bold ;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    cursor: pointer;
  }
  
  .btn:hover {
    border-color: black;
  }
